<section class="fd-section">
    <ul class="fd-nav fd-nav--vertical">
        <li class="fd-nav__item">
            <a routerLink="/table" routerLinkActive="is-selected" class="fd-nav__link">Table</a>
        </li>
        <li class="fd-nav__item">
            <a routerLink="/cards" routerLinkActive="is-selected" class="fd-nav__link">Cards</a>
        </li>
        <li class="fd-nav__item">
            <a routerLink="/tree" routerLinkActive="is-selected" class="fd-nav__link">Tree</a>
        </li>
        <li class="fd-nav__item">
            <a routerLink="/form" routerLinkActive="is-selected" class="fd-nav__link">Form</a>
        </li>
    </ul>
</section>