<article class="fd-page">
    <section class="fd-section">
        <h2>Fundametal UI + Angular Kitchen Sink Sample App</h2>
        <p>Examples in Angular 5 using Fundamental UI</p>
    </section>

    <section class="fd-section">
        <div class="fd-card-group">
            <a class="fd-card" role="button" routerLink="/table">
                <div class="fd-card__content">
                    <h2 class="fd-card__header">
                        Table
                    </h2>
                    <p class="fd-card__description">
                        Tabular data example
                    </p>
                </div>
            </a>

            <a class="fd-card" role="button" routerLink="/cards">
                <div class="fd-card__content">
                    <h2 class="fd-card__header">
                        Cards
                    </h2>
                    <p class="fd-card__description">
                        Card group example 
                    </p>
                </div>
            </a>

            <a class="fd-card" role="button" routerLink="/tree">
                <div class="fd-card__content">
                    <h2 class="fd-card__header">
                        Tree
                    </h2>
                    <p class="fd-card__description">
                        Hierarchical information example
                    </p>
                </div>
            </a>

            <a class="fd-card" role="button" routerLink="/form">
                <div class="fd-card__content">
                    <h2 class="fd-card__header">
                        Form
                    </h2>
                    <p class="fd-card__description">
                        Form example
                    </p>
                </div>
            </a>
        </div>
    </section>
</article>