<div class="fd-page">
    <header class="fd-action-bar">
        <h1 class="fd-action-bar__title">
            Table Sample
        </h1>
        <div class="fd-action-bar__actions">
            <div class="fd-action-bar__action-item">
                <button (click)="loadData()" class="fd-button fd-button--text fd-button--action-bar" [disabled]="!users">
                    <i class="material-icons fd-icon--medium">refresh</i>
                    Reset Data
                </button>
            </div>
        </div>
    </header>

    <article class="fd-page__content">
        <section class="fd-section">
            <div class="fd-panel" [attr.aria-busy]="!users ? 'true' : 'false'">
                <div class="fd-spinner" [attr.aria-hidden]="!users ? 'false' : 'true'" aria-label="Loading">
                    <div></div>
                </div>
                <div class="fd-panel__header">
                    <h1 class="fd-panel__title">
                        Users
                    </h1>
                    <div class="fd-panel__actions">
                        <button (click)="toggleVisibleSelected(true)" class="fd-button fd-button--text fd-button--icon" [disabled]="!someSelected()">
                            <i class="material-icons fd-icon--medium">visibility</i>
                        </button>
                        <button (click)="toggleVisibleSelected(false)" class="fd-button fd-button--text fd-button--icon" [disabled]="!someSelected()">
                            <i class="material-icons fd-icon--medium">visibility_off</i>
                        </button>
                        <button (click)="removeSelected()" class="fd-button fd-button--text fd-button--icon" [disabled]="!someSelected()">
                            <i class="material-icons fd-icon--medium">delete</i>
                        </button>
                    </div>
                </div>

                <table class="fd-table" style="min-width: 1290px;">
                    <thead>
                        <tr>
                            <th style="width: 6em;">
                                <input type="checkbox" (ngModelChange)="toggleSelectedAll($event)" [(ngModel)]="allSelected">
                            </th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th style="width: 16em;">Status</th>
                            <th>Website</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index;" [attr.aria-selected]="user.selected">
                            <td>
                                <input type="checkbox" [(ngModel)]="user.selected">
                            </td>
                            <td>
                                <a routerLink="/table/{{ user.id }}">
                                    <b>{{ user.email }}</b>
                                </a>
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>
                                <span *ngIf="user.locked" class="fd-badge fd-badge--pill fd-badge--error">
                                    Locked
                                </span>
                                <span *ngIf="user.visible" class="fd-badge fd-badge--pill fd-badge--success">
                                    Visible
                                </span>
                                <span *ngIf="!user.visible" class="fd-badge fd-badge--pill">
                                    Not Visible
                                </span>
                            </td>
                            <td>{{ user.website }}</td>
                            <td>
                                <div class="fd-has-float-right">
                                    <button (click)="toggleLocked(i)" class="fd-button fd-button--text fd-button--icon fd-button--small">
                                        <i *ngIf="!user.locked" class="material-icons">lock_outline</i>
                                        <i *ngIf="user.locked" class="material-icons">lock_open</i>
                                    </button>
                                    <button (click)="toggleVisibility(i)" class="fd-button fd-button--text fd-button--icon fd-button--small" [disabled]="user.locked">
                                        <i *ngIf="!user.visible" class="material-icons">visibility</i>
                                        <i *ngIf="user.visible" class="material-icons">visibility_off</i>
                                    </button>
                                    <button (click)="deleteItem(i)" class="fd-button fd-button--text fd-button--icon fd-button--small" [disabled]="user.locked">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
</div>