<div class="tn-page">
    <header class="tn-action-bar">
        <h1 class="tn-action-bar__title">
            Cards Sample
        </h1>
        <div class="tn-action-bar__actions">
            <div class="tn-action-bar__action-item">
                <button (click)="loadData()" class="tn-button tn-button--text tn-button--action-bar" [disabled]="!users">
                    <i class="material-icons tn-icon--medium">refresh</i>
                    Reset Data
                </button>
            </div>
        </div>
    </header>

    <article class="tn-page__content">
        <section class="tn-section">
            <div class="tn-panel" [attr.aria-busy]="!users ? 'true' : 'false'">
                <div class="tn-spinner" [attr.aria-hidden]="!users ? 'false' : 'true'" aria-label="Loading">
                    <div></div>
                </div>
                <div class="tn-panel__header">
                    <h1 class="tn-panel__title">
                        Customers
                    </h1>
                    <div class="tn-panel__actions">
                    </div>
                </div>

                <div class="tn-card-group">
                    <a *ngFor="let user of users; let i = index;" routerLink="/cards/{{ user.id }}" class="tn-card" role="button">
                        <div class="tn-card__media">
                            <span class="tn-image tn-image--xl tn-image--circle tn-image--profile" [style]="user.avatarStyle" aria-label="YaaS product thumbnail"></span>
                        </div>
                        <div class="tn-card__content">
                            <h2 class="tn-card__header">
                                {{ user.name }}
                            </h2>
                            <p class="tn-card__description">
                                {{ user.company.name }}
                            </p>
                            <p>
                                {{ user.email }}
                            </p>
                            <p class="tn-card__status">
                                <span *ngIf="user.locked" class="tn-badge--error">
                                    Locked
                                </span>
                                <span *ngIf="user.visible" class="tn-badge--success">
                                    Visible
                                </span>
                                <span *ngIf="!user.visible" class="">
                                    Not Visible
                                </span>
                            </p>
                        </div>
                        <div class="tn-card__actions">
                            <div class="tn-dropdown">
                                <button (click)="toggleMenu(i, $event); false;" class="tn-button tn-button--icon tn-button--text" aria-haspopup="true" aria-label="More">
                                    <span class="tn-icon tn-icon--more tn-icon--medium" role="presentation"></span>
                                </button>
                                <ul class="tn-dropdown__menu tn-contextual-menu" [attr.aria-hidden]="!user.showMenu">
                                    <li>
                                        <a (click)="toggleLocked(i, $event); false;" class="tn-dropdown__item">
                                            <span *ngIf="user.locked">
                                                <i class="material-icons">lock_open</i>
                                                Unlock user
                                            </span>
                                            <span *ngIf="!user.locked">
                                                <i class="material-icons">lock_outline</i>
                                                Lock user
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="toggleVisible(i, $event); false;" class="tn-dropdown__item" [attr.aria-disabled]="user.locked">
                                            <span *ngIf="user.visible">
                                                <i class="material-icons">visibility_off</i> Set visibility off
                                            </span>
                                            <span *ngIf="!user.visible">
                                                <i class="material-icons">visibility</i>
                                                Set visibility on
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)="deleteItem(i, $event); false;" class="tn-dropdown__item" [attr.aria-disabled]="user.locked">
                                            <i class="material-icons">delete</i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div *ngIf="users" class="tn-panel__footer" [attr.aria-busy]="loadingMore">
                    <div class="tn-spinner" [attr.aria-hidden]="!loadingMore" aria-label="Loading">
                        <div></div>
                    </div>

                    Showing first {{ users.length }} items.
                    <button (click)="loadMore()" class="tn-button tn-button--link">
                        Load more
                    </button>
                </div>
            </div>
        </section>
    </article>
</div>