<div class="fd-page" [attr.aria-busy]="user ? 'false' : 'true'">
    <div class="fd-spinner" [attr.aria-hidden]="!user ? 'false' : 'true'" aria-label="Loading">
        <div></div>
    </div>

    <header *ngIf="user" class="fd-action-bar">
        <div class="fd-action-bar__navigation">
            <a routerLink="/{{ componentSlug }}" class="fd-button fd-button--text fd-button--icon fd-button--large" aria-label="Back">
                <span class="fd-icon fd-icon--backarrow fd-icon--large" role="presentation"></span>
            </a>
        </div>
        <h1 class="fd-action-bar__title">
            {{ user.name }}
        </h1>
        <div class="fd-action-bar__actions">
            <div class="fd-action-bar__action-item">
                <button class="fd-button fd-button--text fd-button--action-bar" disabled>
                    <i class="material-icons fd-icon--medium">lock_outline</i>
                    Lock
                </button>
                <button class="fd-button fd-button--text fd-button--action-bar" disabled>
                    <i class="material-icons fd-icon--medium">visibility</i>
                    Set Visible
                </button>
                <button class="fd-button fd-button--text fd-button--action-bar" disabled>
                    <i class="material-icons fd-icon--medium">delete</i>
                    Delete
                </button>
            </div>
        </div>
    </header>

    <article *ngIf="user" class="fd-page__content">
        <div class="fd-section">
            <div class="fd-pannel">
                <div class="fd-panel__header">
                    <h1 class="fd-panel__title">
                        Details
                    </h1>
                </div>

                <div class="fd-container">

                    <div class="fd-col--2">
                            <span class="fd-image fd-image--xxl fd-image--circle fd-image--profile" [style]="user.avatarStyle"></span>
                    </div>

                    <div class="fd-col--5">
                        <div class="fd-form__item">
                            <label class="fd-form__label" for="input-7">Name</label>
                            <input class="fd-form__control" type="text" id="input-7" [value]="user.name" readonly>
                        </div>
                        <div class="fd-form__item">
                            <label class="fd-form__label" for="input-7">Username</label>
                            <input class="fd-form__control" type="text" id="input-7" [value]="user.username" readonly>
                        </div>
                        <div class="fd-form__item">
                            <label class="fd-form__label" for="input-7">Email</label>
                            <input class="fd-form__control" type="text" id="input-7" [value]="user.email" readonly>
                        </div>
                        <div class="fd-form__item">
                            <label class="fd-form__label" for="input-7">Website</label>
                            <input class="fd-form__control" type="text" id="input-7" [value]="user.website" readonly>
                        </div>
                    </div>

                    <div class="fd-col--5">
                        <div class="fd-form__item">
                            <label class="fd-form__label" for="input-7">Company</label>
                            <input class="fd-form__control" type="text" id="input-7" [value]="user.company.name" readonly>
                        </div>
                        <div class="fd-form__item">
                            <label class="fd-form__label" for="input-7">Slogan</label>
                            <input class="fd-form__control" type="text" id="input-7" [value]="user.company.catchPhrase" readonly>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </article>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>