<div class="fd-page">
    <header class="fd-action-bar">
        <h1 class="fd-action-bar__title">
            Form Sample
        </h1>
        <div class="fd-action-bar__actions">
            <div class="fd-action-bar__action-item">
                <button class="fd-button fd-button--text fd-button--action-bar">
                    <span class="fd-icon fd-icon--close fd-icon--medium" role="presentation"></span>
                    Cancel
                </button>
            </div>
            <div class="fd-action-bar__action-item">
                <button class="fd-button fd-button--action-bar" [disabled]="true">
                    <span class="fd-icon fd-icon--checked fd-icon--medium" role="presentation"></span>
                    Save
                </button>
            </div>
        </div>
    </header>

    <article class="fd-page__content">
        <section class="fd-section">
            <div class="fd-panel">
                <div class="fd-panel__header">
                    <h1 class="fd-panel__title">
                        Register
                    </h1>
                    <div class="fd-panel__actions">
                    </div>
                </div>

                <form class="fd-form" (ngSubmit)="submit()">
                    <div class="fd-container">
                        <div class="fd-col--8">
                            <div class="fd-form__item">
                                <label for="firstName" class="fd-form__label is-required">First name *</label>
                                <input type="text" name="firstName" [(ngModel)]="model.firstName" required #firstName="ngModel" class="fd-form__control">
                                <span [attr.aria-hidden]="firstName.valid || !firstName.touched" class="fd-form__message fd-form__message--error">
                                    First name can't be empty.
                                </span>
                            </div>

                            <div class="fd-form__item">
                                <label for="lastName" class="fd-form__label is-required">Last name *</label>
                                <input type="text" name="lastName" [(ngModel)]="model.lastName" required #lastName="ngModel" class="fd-form__control">
                                <span [attr.aria-hidden]="lastName.valid || !lastName.touched" class="fd-form__message fd-form__message--error">
                                    Last name can't be empty.
                                </span>
                            </div>

                            <div class="fd-form__set">
                                <label class="fd-form__label is-required">Birthday *</label>
                                <div class="fd-container">
                                    <div class="fd-col--3">
                                        <input type="number" name="birthdayDay" [(ngModel)]="model.birthday.day" required #birthdayDay="ngModel" class="fd-form__control" placeholder="Day">
                                    </div>
                                    <div class="fd-col--5">
                                        <select name="birthdayMonth" class="fd-form__control" required [(ngModel)]="model.birthday.month" #birthdayMonth="ngModel">
                                            <option [ngValue]="null">Month</option>
                                            <option *ngFor="let m of months; index as i;" [ngValue]="i + 1">{{ m }}</option>
                                        </select>
                                    </div>
                                    <div class="fd-col--4">
                                        <input type="number" name="birthdayYear" [(ngModel)]="model.birthday.year" required #birthdayYear="ngModel" class="fd-form__control" placeholder="Year">
                                    </div>
                                </div>
                                <span [attr.aria-hidden]="birthdayDay.valid || !birthdayDay.touched" class="fd-form__message fd-form__message--error">
                                    Enter a valid birthday Day.
                                </span>
                                <span [attr.aria-hidden]="birthdayMonth.valid || !birthdayMonth.touched" class="fd-form__message fd-form__message--error">
                                    Enter a valid birthday Month.
                                </span>
                                <span [attr.aria-hidden]="birthdayYear.valid || !birthdayYear.touched" class="fd-form__message fd-form__message--error">
                                    Enter a valid birthday Year.
                                </span>
                            </div>

                            <div class="fd-form__item">
                                <label for="email" class="fd-form__label is-required">Email *</label>
                                <input type="email" name="email" [(ngModel)]="model.email" required #email="ngModel" class="fd-form__control">
                                <span [attr.aria-hidden]="email.valid || !email.touched" class="fd-form__message fd-form__message--error">
                                    Enter a valid email address.
                                </span>
                            </div>

                            <fieldset class="fd-form__set">
                                <label class="fd-form__label is-required">Question *</label>
                                <div class="fd-form__item fd-form__item--inline fd-form__item--check">
                                    <input class="fd-form__control" type="radio" id="radio-13" name="radio-name-5" value="">
                                    <label class="fd-form__label" for="radio-13">Yes</label>
                                </div>
                                <div class="fd-form__item fd-form__item--inline fd-form__item--check">
                                    <input class="fd-form__control" type="radio" id="radio-14" name="radio-name-5" value="">
                                    <label class="fd-form__label" for="radio-14">No</label>
                                </div>
                            </fieldset>

                        </div>

                        <div class="fd-col--4">
                            <p>Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.</p>
                            <p>Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </article>
</div>