
.tn-ui__app { min-height: 100vh; }

.tn-ui__header { background: #21262c; }
.tn-ui__header h1 { color: white; font-size: 1.4em; margin: .3em .5em; }

.tn-app__sidebar { background: #d7d7d7; } 

.tn-badge + .tn-badge { margin-left: 1em; }

.tn-page__content { margin-bottom: 50px; }

.tn-container { max-width: 100%; }

.tn-section { padding: 40px; }

.tn-panel { min-height: 200px; }

.tn-card__status span { margin-right: 1em; }

.tn-card__actions { padding-top: 10px; }

.tn-dropdown__item i { vertical-align: middle; margin-right: .5em;}

.tn-dropdown__item[aria-disabled="true"]:hover { background: none; color: #7f90a4; }

.tn-image--xxl { width: 200px; height: 200px; }

.tn-tree { min-width: 1600px; }

.ks-numerical { font-family: monospace; font-size: 1.5em; }
    .ks-numerical .ks-numerical-gray { color: #ccc; }


.tn-form .ng-touched.ng-invalid { border-color: #df1919; }

.tn-form span[aria-hidden=true] { display: none; }

.tn-form__item--inline { margin-right: 20px; }

.tn-form__set .tn-form__item--inline { margin-bottom: 10px; margin-top: 10px; }